<div class="d-flex">

  <span [style.background]="selectedColor"
    [cpToggle]="true"
    [cpDialogDisplay]="'inline'"
    [cpOutputFormat]="'rgba'"
    (colorPickerChange)="onColorChanged($event)"
    [(colorPicker)]="selectedColor"></span>

  <div class="d-flex flex-column ml-2">

    <div class="color-cell mt-2" *ngFor="let color of colorPresets"
      [style.background]="color"
      (click)="onPresetSelected(color)"></div>

  </div>

  <div class="color-history flex-column ml-2">

    <div class="color-cell mt-2" *ngFor="let color of colorHistory"
      [style.background]="color"
      (click)="onPresetSelected(color)"></div>

  </div>

</div>
