<div class="d-flex">

  <span [style.background]="selectedColor"
    [cpToggle]="true"
    [cpDialogDisplay]="'inline'"
    [cpOutputFormat]="'rgba'"
    (colorPickerChange)="onColorChanged($event)"
    [(colorPicker)]="selectedColor"></span>

  <div class="d-flex flex-column">

    <div class="ml-2 d-flex flex-column flex-grow-1">
      <div class="d-flex justify-content-between align-items-center p-2">
        <input type="radio" value="foreground" [(ngModel)]="activeColorType" class="mr-1">
        Premier plan
        <div [ngStyle]="{background: activeForegroundColor}" class="color-cell ml-2"></div>
      </div>

      <div class="d-flex justify-content-between align-items-center p-2">
        <input type="radio" value="background" [(ngModel)]="activeColorType" class="mr-1">
        Second plan
        <div [ngStyle]="{background: activeBackgroundColor}" class="color-cell ml-2"></div>
      </div>
    </div>

    <div class="d-flex">
      <div class="d-flex flex-column ml-2">

        <div class="color-cell mt-2" *ngFor="let color of colorPresets"
          [style.background]="color"
          (click)="onPresetSelected(color)"></div>

      </div>
      <div class="color-history flex-column ml-2">

        <div class="color-cell mt-2" *ngFor="let color of colorHistory"
          [style.background]="color"
          (click)="onPresetSelected(color)"></div>

      </div>
    </div>

  </div>
</div>
