
.project-controls {
  .control-item {
    padding: 6px;
    margin-bottom: 6px;
  }

  .recent-projects {
    padding: 10px;
    max-height: 150px;

    overflow-x: hidden;
    overflow-y: scroll;

    border: solid 1px darkgray;

    .item {
      margin: 5px 0;
      cursor: pointer;
    }
  }
}
