/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/styles/variables";

.module {
  display: flex;
  align-items: center;
  justify-content: space-between;

  border: solid 0.1rem $gray-300;
  border-radius: $border-radius;
  max-width: 50%;
  padding: 0.3rem 0.8rem;
  margin-bottom: 1rem;

  box-shadow: 0 0.125rem 0.25rem rgba($gray-600, 0.2);
}
