<nav class="abc-topbar navbar navbar-expand navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">Abc-Map</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">

      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="btn cursor-pointer" ngbDropdownToggle>Projet</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem (click)="newProject()">Nouveau</button>
            <button ngbDropdownItem>Ouvrir</button>
            <button ngbDropdownItem (click)="saveProject()">Enregistrer</button>
            <button ngbDropdownItem (click)="closeProject()">Fermer</button>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="btn cursor-pointer" ngbDropdownToggle>Vue</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="routes.MAP.link()">Carte</button>
          </div>
        </div>
      </li>

      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <a class="btn cursor-pointer" ngbDropdownToggle>Compte</a>
          <div ngbDropdownMenu>
            <button ngbDropdownItem [routerLink]="routes.REGISTER">Inscription</button>
            <button ngbDropdownItem [routerLink]="routes.LOGIN">Connexion</button>
          </div>
        </div>
      </li>

      <li class="nav-item" *ngIf="projectName">
        <span class="nav-link">Project actuel: {{ projectName }}</span>
      </li>

    </ul>
  </div>

</nav>
