<nav class="abc-topbar navbar navbar-light bg-light border-bottom">
  <a class="navbar-brand" href="#">Abc-Map</a>

  <ul class="navbar-nav mr-auto">
    <li class="nav-item">

      <div ngbDropdown class="d-inline-block">
        <a class="btn cursor-pointer" ngbDropdownToggle>Projet</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem (click)="newProject()">Nouveau</button>
          <button ngbDropdownItem>Ouvrir</button>
          <button ngbDropdownItem (click)="closeProject()">Fermer</button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block">
        <a class="btn cursor-pointer" ngbDropdownToggle>Vue</a>
        <div ngbDropdownMenu>
          <button ngbDropdownItem [routerLink]="routes.MAP.link()">Carte</button>
        </div>
      </div>

    </li>
  </ul>
</nav>
