<div class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link">
                Left
            </a>

            <div class="navbar-dropdown">
                <a class="navbar-item">
                    Overview
                </a>
                <a class="navbar-item">
                    Elements
                </a>
                <a class="navbar-item">
                    Components
                </a>
                <hr class="navbar-divider">
                <div class="navbar-item">
                    Version 0.6.1
                </div>
            </div>
        </div>
    </div>
</div>