<div class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item has-dropdown" :class="{'is-active': isActive}">
            <a class="navbar-link" @click="isActive = !isActive">
                Menu
            </a>

            <div class="navbar-dropdown fadeIn">
                <a class="navbar-item">
                    Menu item 1
                </a>
                <a class="navbar-item">
                    Menu item 2
                </a>
                <a class="navbar-item">
                    Menu item 3
                </a>
                <hr class="navbar-divider">
                <a class="navbar-item">
                    Menu item 3
                </a>
            </div>
        </div>
    </div>
</div>