<div class="navbar-menu">
    <div class="navbar-start">
        <div class="navbar-item has-dropdown" :class="{'is-active': isActive === true}">
            <a class="navbar-link" @click="onMenuOpened(id)">
                {{ menu.title }}
            </a>

            <div class="navbar-dropdown fadeIn">
                <a class="navbar-item" v-for="menuItem in menu.items" @click="menuItem.action">
                    {{ menuItem.title }}
                </a>
            </div>
        </div>
    </div>
</div>