/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */
@import "src/assets/styles/variables";

$modal-width: 70vw;
$left-panel-width: 23vw;

.modal {
  min-width: $modal-width;
  max-width: $modal-width;
  width: $modal-width;
}

.leftPanel {
  min-width: $left-panel-width;
  max-width: $left-panel-width;
  width: $left-panel-width;

  margin-right: 1rem;
  padding-right: 1rem;

  border-right: solid $gray-300 1px;
  border-radius: 7px;
}

.rightPanel {
  flex-grow: 1;
  margin-left: 1rem;

  display: flex;
  flex-direction: column;
}

.subTitle {
  height: 30px;
  font-size: 1.1rem;
}
