/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */
@import "src/assets/styles/variables";
@import "node_modules/bootstrap/scss/bootstrap";

$height: 65vh;

.modal {
  min-height: $height;

  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.mainRow {
  min-height: 60vh;
}

.leftPanel {
  border-right: solid $gray-300 0.1rem;
  padding-right: 3rem !important;

  @include media-breakpoint-down(xl) {
    border: none;
  }
}

.rightPanel {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;
}

.subTitle {
  height: 2rem;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
