.main-navbar {
  width: 100%;
  z-index: 1000;

  .el-dropdown {
    margin: 1em;
    margin-top: 1.5em;
    cursor: pointer;
  }

  .navmenu-container {
    text-align: left;
  }

  .location-search {
    margin: 1em;
  }

}
