<div class="main-navbar">

    <el-row>

        <!-- Top navigation menu -->

        <el-col :span="18" class="navmenu-container">

            <el-button type="default" icon="el-icon-search" @click="showActionDialog"></el-button>

            <el-dropdown
                    v-for="(menu, index) in menus"
                    :key="'menu-' + index"
                    :hide-on-click="true"
                    @command="handleMenuClick">

                <span class="el-dropdown-link">
                    {{ menu.title }} <i class="el-icon-arrow-down el-icon--right"></i>
                </span>

                <el-dropdown-menu slot="dropdown">
                    <el-dropdown-item
                            v-for="(item, index) in menu.items"
                            :key="'item-' + index"
                            :command="item.id">
                        {{ item.label }}
                    </el-dropdown-item>
                </el-dropdown-menu>

            </el-dropdown>

        </el-col>

        <!-- Location search bar -->

        <el-col :span="6">
              <geo-search class="location-search"></geo-search>
        </el-col>

    </el-row>

</div>
