<div class="left-menu-bar border-right">
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
  <div class="btn btn-outline-secondary tool"></div>
</div>
