<el-submenu index="2" class="layer-selector-component">

    <template slot="title">
        <i class="el-icon-tickets"></i>
        <span slot="title">Layers</span>
    </template>

    <el-menu-item-group v-if="getLayers().length > 0">

        <span slot="title">Select layers below ...</span>

        <div class="select-area">

            <select v-model="selectedLayers" multiple>
                <option v-for="(layer, index) in getLayers()"
                        :key="index"
                        :value="layer.id">
                    {{ layer.name }}
                </option>
            </select>

            <!-- Action buttons -->

            <el-button @click="deleteSelection" type="warning" icon="el-icon-close">
            </el-button>

        </div>

    </el-menu-item-group>

    <!-- No layers found in project -->

    <el-menu-item-group v-else>

        <span slot="title"><i>No layers yet</i></span>

    </el-menu-item-group>

</el-submenu>