@import "src/assets/styles/variables";

.listItem {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  cursor: pointer;
  user-select: none;

  :global(.fa) {
    margin: 0 7px;
  }

  &.active {
    background: $primary;
    color: white;

    :global(.fa) {
      color: white;
    }
  }
}
