/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/assets/styles/variables";

.topBar {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5vh;
  padding: 0 10px;

  border-bottom: solid 1px $gray-400;

  h1 {
    font-size: 1.3rem;
    margin: 0 20px;
    padding: 0;

    a {
      color: black;
      text-decoration: none;

      &:hover {
        color: black;
        text-decoration: none;
      }
    }

    :global(.fa) {
      color: black;
    }
  }

  :global(.dropdown-toggle) {
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  :global(.dropdown-toggle::after) {
    content: none;
  }

  :global(.fa-user-circle) {
    font-size: 1.4em;
  }
}

.links {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;

  height: 100%;
}

.dropDown {
  width: 17em;
}
