.abc-top-bar {
  display: flex;
  flex-direction: row;
  align-items: center;

  height: 5vh;

  padding: 0 10px;

  h3 {
    margin-right: 20px;
  }

  .link {
    display: block;
    margin: 10px;
  }
}
