/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "variables";

$icon-color: $gray-600;

// PRIMARY

.btn-primary {
  .fa {
    color: white;
  }
}

.btn-primary:hover {
  .fa {
    color: white;
  }
}

.btn-primary[disabled]:hover {
  .fa {
    color: white;
  }
}

// OUTLINE PRIMARY

.btn-outline-primary:hover {
  .fa {
    color: white;
  }
}

.btn-outline-primary[disabled]:hover {
  .fa {
    color: $icon-color;
  }
}

// SECONDARY

.btn-secondary {
  .fa {
    color: $icon-color;
  }
}

.btn-secondary:hover {
  .fa {
    color: white;
  }
}

.btn-secondary[disabled]:hover {
  .fa {
    color: $icon-color;
  }
}

// OUTLINE SECONDARY

.btn-outline-secondary {
  .fa {
    color: $icon-color;
  }
}

.btn-outline-secondary:hover {
  .fa {
    color: white;
  }
}

.btn-outline-secondary[disabled]:hover {
  .fa {
    color: $icon-color;
  }
}

// Link

.btn-link {
  text-decoration: none;
}
