<el-menu class="left-menu"
         :unique-opened="true"
         @open="handleOpen"
         @close="handleClose"
         :collapse="isCollapse">

    <!--TODO: restore ?-->
    <!--<el-switch v-model="isCollapse">-->
    <!--</el-switch>-->

    <el-submenu index="1">

        <template slot="title">
            <i class="el-icon-location"></i>
            <span slot="title">Add a new layer</span>
        </template>

        <el-menu-item-group>
            <add-layer-selector></add-layer-selector>
        </el-menu-item-group>

    </el-submenu>

    <layer-selector></layer-selector>

    <data-importer></data-importer>

    <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">Navigator Two</span>
    </el-menu-item>

    <el-menu-item index="3">
        <i class="el-icon-setting"></i>
        <span slot="title">Navigator Three</span>
    </el-menu-item>

</el-menu>
