<el-menu class="left-menu"
         :unique-opened="true"
         @open="handleOpen"
         @close="handleClose"
         :collapse="isCollapse">

    <!--TODO: restore ?-->
    <!--<el-switch v-model="isCollapse">-->
    <!--</el-switch>-->

    <el-submenu index="1">
        <add-layer-selector></add-layer-selector>
    </el-submenu>

    <layer-selector></layer-selector>

    <import-data-selector></import-data-selector>

    <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">Navigator Two</span>
    </el-menu-item>

    <el-menu-item index="3">
        <i class="el-icon-setting"></i>
        <span slot="title">Navigator Three</span>
    </el-menu-item>

</el-menu>
