<el-menu class="left-menu"
         default-active="2"
         @open="handleOpen"
         @close="handleClose"
         :collapse="isCollapse">

    <!--TODO: restore ?-->
    <!--<el-switch v-model="isCollapse">-->
    <!--</el-switch>-->

    <wms-selector></wms-selector>

    <el-menu-item index="2">
        <i class="el-icon-menu"></i>
        <span slot="title">Navigator Two</span>
    </el-menu-item>

    <el-menu-item index="3">
        <i class="el-icon-setting"></i>
        <span slot="title">Navigator Three</span>
    </el-menu-item>

</el-menu>
