@import "src/style/variables";

.abc-tool-selector {
  display: flex;
  flex-direction: column;

  .tool-selector {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .tool-button {
      margin: 3px;
      padding: 6px;

      border: solid 1px $secondary;
      background-color: inherit;
      border-radius: 5px;

      outline: 0;

      &.active{
        border: solid 2px $primary;
      }
    }
  }

}
