@import "src/style/variables";

.abc-tool-selector {
  display: flex;
  flex-direction: column;

  .tool-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    padding: 0.2em 0.5em;

    .tool-button {
      margin: 2px;
      padding: 6px;

      border: solid 2px $secondary;
      background-color: inherit;
      border-radius: 7px;

      outline: 0;

      img {
        width: 25px;
      }

      &.active{
        border: solid 2px $primary;
      }
    }
  }

  .tool-panel {
    margin-top: 0.5em;
    padding-top: 0.5em;
    border-top: solid silver 1px;
  }

}
