@import "src/assets/styles/variables";

.recentProjects {
  padding: 10px;
  height: 200px;

  overflow-x: hidden;
  overflow-y: scroll;

  border: solid 1px darkgray;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin: 5px 0;
  cursor: pointer;
}

.selected {
  color: white;
  background-color: $primary;
  :global(.fa){
    color: white;
  }
}

.passwordInput {
  margin: 1rem 0;

  input {
    margin: 1rem 0;
  }
}

.deleteConfirmation {
  margin: 1rem 0;
}
