.abc-color-picker-button {

  .picker-button {
    width: 30px;
    height: 20px;
    margin-right: 10px;

    border: solid 1px lightgrey;
  }

  .picker-popover {
    position: absolute;
    z-index: 10;
    border: solid 1px lightgrey;

    .color-buttons {
      background-color: white;
      max-width: 190px;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;

      button {
        width: 40px;
        height: 2em;
        border: solid 1px lightgrey;
        margin: 3px
      }
    }
  }

  .picker-backdrop {
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

}
