<div class="abc-store-view abc-view pt-5 pb-3">

  <h1 class="mb-2">Magasin de données</h1>

  <form class="abc-search-form" [formGroup]="searchForm" *ngIf="searchForm" (ngSubmit)="search()">

    <div class="d-flex justify-content-start align-items-center mt-3">
      <input type="text" class="form-control" placeholder="Que cherchez vous ?" formControlName="query">
      <button class="btn btn-primary ml-3" [disabled]="searchForm.invalid">Rechercher</button>
    </div>

  </form>

  <div class="abc-documents-list">

    <div *ngIf="lastUploadedDocuments.length">

      <h2>Dernier téléversements</h2>

      <div *ngFor="let item of lastUploadedDocuments" class="card mb-3">
        <abc-document-list-item [document]="item"></abc-document-list-item>
      </div>

    </div>

    <div *ngIf="documents.length">

      <h2>Mes documents</h2>

      <div *ngFor="let item of documents" class="mb-3">
        <abc-document-list-item [document]="item"
                                (addToMap)="onAddDocumentToMap($event)"
                                (delete)="onDeleteDocument($event)">
        </abc-document-list-item>
      </div>

    </div>

    <div *ngIf="!documents.length">
      <h2>Aucun document présent</h2>
    </div>

  </div>

</div>
