<div class="abc-store-view abc-view">

  <div class="search-panel">
    <form class="abc-search-form" [formGroup]="searchForm" *ngIf="searchForm">
      <h1 class="mb-2">Magasin de données</h1>

      <div class="d-flex justify-content-start align-items-center mt-3">
        <input type="text" class="form-control" placeholder="Que cherchez vous ?" formControlName="query">
      </div>
    </form>

    <div class="abc-result-list">
      <div *ngIf="lastUploadedDocuments.length">
        <h2>Derniers téléversements</h2>
        <div *ngFor="let item of lastUploadedDocuments" class="card mb-3">
          <abc-document-list-item [document]="item"
                                  (addToMap)="onAddDocumentToMap($event)"
                                  (delete)="onDeleteDocument($event)"
                                  (preview)="onPreviewDocument($event)"
                                  (download)="onDownloadDocument($event)">
          </abc-document-list-item>
        </div>
      </div>

      <div *ngIf="documents.length">
        <h2>Documents</h2>
        <div *ngFor="let item of documents" class="mb-3">
          <abc-document-list-item [document]="item"
                                  (addToMap)="onAddDocumentToMap($event)"
                                  (delete)="onDeleteDocument($event)"
                                  (preview)="onPreviewDocument($event)"
                                  (download)="onDownloadDocument($event)"></abc-document-list-item>
        </div>
      </div>

      <div *ngIf="!documents.length">
        <h3>Vraiment rien ?</h3>
      </div>

    </div>
  </div>

  <div class="abc-document-preview">
    <div id="preview-map" class="abc-preview-map flex-grow-1">

    </div>
  </div>

</div>
