
.abc-store-view {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  overflow: hidden;

  .abc-search-form {
    padding: 10px;
  }

  .search-panel {
    display: flex;
    flex-direction: column;
    width: 500px;

    .abc-result-list {
      flex-grow: 1;
      margin-top: 30px;
      padding: 10px;

      max-height: 100%;
      overflow: auto;
    }

  }

  .abc-document-preview {
    flex-grow: 1;
    border-left: solid 1px silver;

    .abc-map-preview {

    }

  }

}
