
.abc-store-view {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;

  overflow: hidden;
  border-right: solid 1px silver;

  .search-panel {
    display: flex;
    flex-direction: column;
    width: 500px;

    margin-top: 2vmin;
    padding: 2vmin;

    .abc-search-form {
      padding: 10px;
    }

    .abc-result-list {
      flex-grow: 1;
      margin-top: 30px;
      padding: 10px;

      max-height: 100%;
      overflow: auto;
    }

  }

  .abc-document-preview {
    flex-grow: 1;
    max-width: 100vmin;
    margin: auto;
    margin-top: 2vmin;

    #abc-preview-map {
      max-height: 30vmin;
    }

  }

}
