.abc-wms-layer-item {
  margin-bottom: 0.7em;
  padding: 0.5em;
  border: solid 1px lightgrey;
  border-radius: 8px;
  cursor: pointer;

  &.selected {
    color: white;
    background-color: blue;
  }

}
