/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/assets/styles/variables";

.toolSelector {
  display: flex;
  flex-direction: column;
}

.toolList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  padding: 0.2em 0;
}

.toolButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  margin: 3px;
  padding: 6px;
  width: 40px;

  border: none;
  background-color: inherit;
  border-radius: 7px;

  outline: 0;

  img {
    width: 25px;
  }

  &.active {
    border: solid 1px $primary;
  }
}

.toolPanel {
  padding-top: 0.5em;
}

.message {
  display: flex;
  flex-direction: column;

  text-align: center;
  font-style: italic;
  color: $gray-600;
}
