@import "src/assets/styles/variables";

$panel-width: 250px;

.mapView {
  height: 95vh;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.leftPanel {
  width: $panel-width;
  height: 95vh;
  border-right: solid 1px lightgrey;
  overflow-x: hidden;
  overflow-y: scroll;

  padding-top: 1rem;
}

.rightPanel {
  width: $panel-width;
  height: 95vh;
  border-left: solid 1px lightgrey;
  overflow-x: hidden;
  overflow-y: scroll;

  padding-top: 1rem;
}
