/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/assets/styles/variables";
@import "node_modules/bootstrap/scss/bootstrap";

.artefact {
  margin-bottom: 1rem;
  margin-right: 1rem;
  min-height: 25vh;
  height: 25vh;

  width: 30vw;

  @include media-breakpoint-down(xl) {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  box-shadow: $box-shadow;
}

.licenseView {
  white-space: pre-wrap;
  word-wrap: break-word;
  max-height: 70vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.keywords {
  color: $gray-600;
  margin-bottom: 1.5rem;
}
