
.abc-help {
  margin: 3rem 10rem;

  p {
    margin: 1em 0;
  }

  .module {
    margin-top: 2em;

    h1 {
      font-size: 1.4em;
    }

    h2 {
      font-size: 1.3em;
    }

    h3 {
      font-size: 1.2em;
    }
  }
}
