@import "src/style/variables";

$list-height: 90px;

.abc-layer-selector {

  .layer-list {
    height: $list-height;
    max-height: $list-height;
    overflow-y: scroll;
    padding: 5px;
    border: solid silver 1px;
  }

  .controls {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    button {
      margin: 3px;
      padding: 3px;
      width: 40px;
      outline: 0;
    }

    .fa {
      color: $icon-color;
    }
  }

  .btn-outline-primary:hover {
    background-color: inherit;
    color: black;
  }

  .no-layers {
    text-align: center;
    padding: 10px;
  }
}
