/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

@import "src/assets/styles/variables";

.input {
  position: relative;
  z-index: 2;
}

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 1;

  transition: opacity;
  transition-delay: 1s;
  background: rgba($gray-500, 0.5);
}

.dropdown {
  position: absolute;
  width: 400px;
  max-height: 500px;
  z-index: 2;

  padding: 0.5em;

  background-color: white;
  border: 1px solid lightgrey;
  overflow-x: hidden;
  overflow-y: auto;

  box-shadow: 5px 5px 10px 0 rgba(170, 170, 170, 0.3);
  border-radius: 5px;
}

.message {
  padding: 1em;
}
