@import "src/style/variables";
@import "~bootstrap/scss/bootstrap";
@import "~ol/ol.css";
@import '~react-toastify/dist/ReactToastify.css';
@import '~@fortawesome/fontawesome-free/css/all.css';
@import "src/style/scrollbar";
@import "src/style/globals";
@import 'src/style/controls';

html, body {
  height: 100vh;
}

#root {
  height: 100vh;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
