
.abc-layout-list {
  height: 95vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 6px;

  .item {
    border: solid 1px lightgrey;
    border-radius: 0.5rem;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
    user-select: none;

    &.active {
      color: white;
      background: #007bff;
    }
  }

}
