<div class="import-data-component component">

    <!-- File selector -->

    <div class="drop-zone" @drop="onDrop" @dragover="onDragOver">
        Drop files here :)
    </div>

    <label for="file" class="label-file">Or click here to browse files...</label>
    <input @change="selectFiles" id="file" class="input-file" type="file" multiple/>

    <!-- File list -->

    <ul>
        <li v-for="file in files">{{ file.name }}</li>
    </ul>

    <!-- Action buttons -->

    <el-button @click="importFiles" type="primary">Import files</el-button>

</div>
