<div class="import-data-component component">

    <!-- File selector -->

    <div class="drop-zone" @drop="onDrop" @dragover="onDragOver">
        Drop files here :)
    </div>

    <label for="file" class="label-file">Or click here to browse files...</label>
    <input @change="selectFiles" id="file" class="input-file" type="file" multiple/>

    <!-- File list -->

    <select multiple v-if="files.length > 0">
        <option v-for="(file, index) in files"
                :v-key="index">{{ file.name }}
        </option>
    </select>

    <!-- Action buttons -->

    <el-button @click="importFiles" type="primary">Import files</el-button>

</div>
