/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

.documentation {
  height: 95vh;
  max-height: 95vh;

  display: flex;
  flex-direction: column;
}

.header {
  padding-left: 3rem;
  height: 10vh;
  margin: 0;

  display: flex;
  align-items: center;
  font-size: 2rem;
}

.toc {
  overflow-x: hidden;
  overflow-y: auto;
  padding-left: 3rem;
  width: 15vw;

  p {
    display: flex;
    flex-direction: column;
  }

  a {
    margin: 0 0 1rem 0;
  }

  :global(.toc-section) {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
}

.content {
  display: flex;
  flex-direction: row;
}

.viewport {
  overflow-x: hidden;
  overflow-y: auto;

  width: 85vw;
  height: 85vh;

  padding-bottom: 60vh;
}

.module {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  padding: 0 2rem 1rem 2rem;

  h1 {
    font-size: 1.6rem;
    margin-bottom: 0.8rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 0.9rem;
  }

  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.9rem;
  }

  figure {
    display: flex;
    flex-direction: column;

    padding: 5px;
    margin: 0 0 1.5rem 0;
    border: 1px darkgrey solid;
    border-radius: 5px;
  }

  img {
    border: solid 1px lightgrey;
  }

  figcaption {
    font: italic smaller 'AbcCantarell';
    padding: 3px;
    text-align: center;
  }
}
