.add-layer-component{

  margin: 0.5em;
  padding: 1em;

  .title {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    font-weight: bolder;
  }

  select {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
  }

}