<el-container class="add-layer-component">
    <template slot="title">
        <i class="el-icon-location"></i>
        <span slot="title">Add a new layer</span>
    </template>

    <el-menu-item-group>
        <span slot="title">Choose the layer you want to add</span>
        <el-menu-item v-for="(layer, index) in layers"
                      :index="'addLayer' + index"
                      @click="handleSelection(index)"
                      :key="'addLayer' + index">
            {{ layer.name }}
        </el-menu-item>
    </el-menu-item-group>
</el-container>
