/**
 * Copyright © 2021 Rémi Pace.
 * This file is part of Abc-Map.
 *
 * Abc-Map is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of
 * the License, or (at your option) any later version.
 *
 * Abc-Map is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General
 * Public License along with Abc-Map. If not, see <https://www.gnu.org/licenses/>.
 */

.landing {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  height: 95vh;
  overflow: auto;

  padding: 3rem 10rem;
  font-size: 1.1em;

  p {
    margin: 1em 0;
  }

  :global(.btn) {
    width: 13rem;

    :global(.fa) {
      color: white;
      margin-right: 1rem;
    }
  }

  li {
    margin-top: 1rem;
  }

  button {
    height: 3rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
  }
}

.illustration {
  width: 40vw;
}

.intro {
  font-size: 1.3rem;
}
