<el-submenu index="3" class="import-data-component">

    <template slot="title">
        <i class="el-icon-tickets"></i>
        <span slot="title">Import data</span>
    </template>

    <el-menu-item-group>

        <div class="upload-area">

            <!-- File selector -->

            <label for="file" class="label-file">Select files...</label>
            <input @change="selectFiles" id="file" class="input-file" type="file" multiple/>

            <!-- File list -->
            <ul>
                <li v-for="file in files">{{ file.name }}</li>
            </ul>


            <!-- Action buttons -->

            <el-button @click="importFiles" class="float-right" type="primary">Import files</el-button>

        </div>

    </el-menu-item-group>

</el-submenu>