@import "src/style/variables";
@import 'src/style/controls';

$panel-width: 250px;

.abc-map-view {
  height: 95vh;
  display: flex;
  flex-direction: row;

  overflow-x: hidden;
  overflow-y: hidden;

  .left-panel {
    width: $panel-width;
    height: 95vh;
    border-right: solid 1px lightgrey;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .right-panel {
    width: $panel-width;
    height: 95vh;
    border-left: solid 1px lightgrey;
    overflow-x: hidden;
    overflow-y: scroll;
  }
}
