@import "src/style/variables";
@import 'src/style/controls';

$panel-width: 250px;

.abc-map-view {
  height: 95vh;
  display: flex;
  flex-direction: row;

  .left-panel {
    width: $panel-width;
    border-right: solid 1px lightgrey;
  }

  .right-panel {
    width: $panel-width;
    border-left: solid 1px lightgrey;
  }
}
