<div class="action-dialog-component">
    <el-dialog title="Search an action"
            :visible.sync="dialogIsVisible"
            width="50%">

        <span>What do you want to do ?</span>

        <span>
            <el-input
                placeholder=""
                ref="queryTextField"
                @keyup.native="onChange"
                v-model="query"
                clearable>
            </el-input>
        </span>

        <div class="search-message">{{ searchMessage }}</div>

        <div class="result-area">
            <action-dialog-result
                    v-for='(res, index) in results'
                    :result="res"
                    :key="'item-' + index">
            </action-dialog-result>
        </div>

    </el-dialog>
</div>