<div class="action-dialog-component">
    <el-dialog
            title="Search an action"
            :visible.sync="dialogVisible"
            width="50%">
        <span>What do you want to do ?</span>
        <span>
            <el-input
                placeholder=""
                ref="queryTextField"
                @keyup.native="onChange"
                v-model="query"
                clearable>
            </el-input>
        </span>
        <span>{{ searchMessage }}</span>
        <span class="result-area">
            <action-dialog-result
                    v-for='(res, index) in results'
                    :result="res"
                    :key="'item-' + index">
            </action-dialog-result>
        </span>
    </el-dialog>
</div>