.abc-layer-item {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  cursor: pointer;
  user-select: none;

  .fa {
    margin: 0 7px;
  }

  &.active {
    background: #007bff;
    color: white;

    .fa {
      color: white;
    }
  }
}
