
$panel-width: 250px;

.abc-layout-view {
  max-height: 95vh;
  overflow: hidden;

  .content {
    display: flex;
    flex-direction: row;
  }

  .left-panel {
    width: $panel-width;
    border-right: solid 1px lightgrey;
  }

  .right-panel {
    display: flex;
    flex-direction: column;
    width: $panel-width;
    border-left: solid 1px lightgrey;
  }
}
